body {
  font-family: "Lato", sans-serif;
}
.DisplayUserItems{
  position: absolute;
  margin-left: 0cm;
  background-color: #cfae2bd2;
  width: 100%;
  padding: 50px;
  transition: margin-left 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sidebar {
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(to right,  #dc2a2a, #e32f3b, #e9364b, #ef3e5b, #f3466a);
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 32vh;
  white-space: nowrap;
}


.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgba(243, 237, 237, 0.895)smoke;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}


.HorizontalNav {
  position: relative;
  width:500px;
  transition: margin-left .5s;
  padding: 16px;
  background: linear-gradient(to left, #298273, #268463, #33844d, #478333, #5d8010)
}

.i{
  position: relative;
  height:3rem;
  width:3rem;
  padding: 1px;
  border: 2px solid black;
  margin-left: -32px;
  margin-bottom: 20px;
  margin-right:22px ;
  color: #298273;
}

.RightSide{
position: relative;
margin-left: 70px;
transition: all 0.5s;
width: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}