
  .SearchBorder {
    margin: 50px;
    margin-left: 10%;
    position: relative;
    background: linear-gradient( #1C2367,#2752e1);
    width: 360px;
    height: 55px;
    border-radius: 50px;
    padding: 2.7px;
  }
  