.gradient-custom {
  
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, #298273, #268463, #33844d, #478333, #5d8010)
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
    .form-outline{
        border:1px black solid;
        border-radius: 5px;
    }
    .btn11{
        height: 3rem;
        width: 6rem;
        border-radius: 5px;
        border-color: azure;
        background: linear-gradient(to left, #298273, #268463, #33844d, #478333, #5d8010);
        color: rgb(254, 251, 251);
    }
    